<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Scan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/share.css') }}">
</head>
<body>
    <h1>Share a Scan</h1>
    <form method="POST">
        <label for="scan_id">Choose Scan:</label>
        <select name="scan_id" required>
            {% for scan in scans %}
                <option value="{{ scan.id }}">{{ scan.name }}</option>
            {% endfor %}
        </select>

        <label for="username">Share with:</label>
        <select name="username" required>
            {% for user in users %}
                <option value="{{ user.username }}">{{ user.username }}</option>
            {% endfor %}
        </select>

        <button type="submit">Share</button>
    </form>

    <a href="{{ url_for('view_scans') }}" class="back-button">Back to Scans</a>
</body>
</html>
